/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root{
--bg-switch:rgb(236, 236, 236);
--bg-solid-checked:rgb(112, 250, 112);
--bg-circle:rgb(236, 64, 98);
--main-size:16px;
--header-size:30px;
--main-color:rgb(34, 31, 31);
--border-stlye: 10px solid rgba(255, 0, 0, 0.257);
--fonts:bold italic 10px serif;

}



body{
  background-image: url("https://picsum.photos/id/133/800/600");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;

}


.container{
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

header{
  background-color: crimson;
}
.nav{
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

main{
  min-height: 97vh;
}

footer{
  height: 60px;
  background-color: crimson;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  font-weight: bold;
}

/* modal-window */


.modal-window{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.431);
  position: fixed;
  z-index: 111;
  top:0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-backdrop-filter:blur(15px);
          backdrop-filter:blur(15px);
}


.modal-content{
  width: 800px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px 10px 0 10px;
  padding: 20px;
  position: relative;

}

.modal-content::after{
  content:"";
  width: 100px;
  height: 100px;
  background-color: #fff;
  /* border-left: 64px solid rgb(255, 255, 255);
  border-right: -3px solid transparent;
  border-top: 36px solid transparent;
  border-bottom: -11px solid transparent; */
  position: absolute;
  display: block;
  left: 100%;
  bottom:0; 
  -webkit-clip-path: polygon(0 53%, 9% 75%, 100% 100%, 0% 100%); 
          clip-path: polygon(0 53%, 9% 75%, 100% 100%, 0% 100%);

}






input[type="checkbox"]{
  width: 70px;
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgb(255, 72, 72);
  border-radius: 15px;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  background-color: var(--bg-switch);
}

input[type="checkbox"]::after{
  content:"";
  width: 28px;
  height: 28px;
  background-color: var(--bg-circle);
  display: inline-block;
  border-radius:50%;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}


input[type="checkbox"]:checked:after{
  content:"";
  width: 28px;
  height: 28px;
  background-color: rgb(38, 233, 71);
  display: inline-block;
  border-radius:50%;
  position: relative;
  left: 40px;
}


input[type="checkbox"]:checked{
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border:1px solid var(--bg-solid-checked);
}


.ok{
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}


.text{
  font-size: 70px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: red;
  -webkit-text-stroke-width: 2px;

}

.text:hover{
  -webkit-text-fill-color: rgba(103, 89, 89, 0.472);
  -webkit-text-stroke: rgb(1, 239, 56);
  -webkit-text-stroke-width: 2px;
}





