*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

#intro{
   background-image: url("https://picsum.photos/id/122/800/600");
   min-height: 95vh;
   background-size: cover;
   background-repeat: no-repeat;
   margin:3px 0 ;

}

#hero{
   background-image: url("https://picsum.photos/id/112/800/600");
   min-height: 95vh;
   background-size: cover;
   background-repeat: no-repeat;
   margin:3px 0 ;
}

#about{
   background-image: url("https://picsum.photos/id/312/800/600");
   min-height: 95vh;
   background-size: cover;
   background-repeat: no-repeat;
   margin:3px 0 ;
}

footer{
   padding: 10px;
   background-color: seagreen;
}

.size{
   font-size: 120px;
   transform: translateY(-200px);
   position: relative;
   z-index: -33;
   transition: all 0.4s ease-in-out;
}


.box{
   border-radius:35px;
   padding: 30px;
   background-color: lime;
}

label{
   position: relative;
}

.eye{
   position: absolute;
   top:35px;
   right: 10px;
}